<%- include("header") -%>

<div class="containerrr" style="width: 70%; margin: auto; color: white;">
    <div class="topp" style="width: 100%;">
        <div class="fst">
            <h2><%= intern.name %></h2>
            <h2><%= intern.company %></h2>
        </div>
        <div class="fst">
            <p><%= intern.roll %></p>
            <p><%= intern.profile %></p>
        </div>
    </div>
    <hr style="color: #FBC403;">
    <br>
    <%for(var i=0; i < 11 ; i++){%>
        <%if(intern.questions[i] !== "null"){%>
            <p style="margin-bottom: 2px; color: #FBC403; font-size: 1.1rem; font-weight: 500;"><%= ques[i][0] %></p>
            <p style="margin-bottom: 20px; font-size: 1.1rem; "><%= intern.questions[i] %></p>
        <%};%>
    <%};%>
    <hr style="height: 2px; color: #FBC403; width: 40%; margin: auto; border: none;">
</div>

<%- include("footer") -%>