<%- include("header") -%>

    <div class="boxx">
        <div class="intro">
            <div class="flex">
                <div class="left">
                    <img src="/images/<%= company.image %>" alt="" style="width: 128px;">
                </div>
                <div class="right">
                    <h1>
                        <%= company.name %>
                    </h1>
                </div>
            </div>
            <hr style="height: 2px; color: #FBC403; width: 100%; margin: auto; border: none;">
            <br>
            <a href=""> Resources</a>
        </div>
    </div>
    <div class="container">
        <%experience.forEach(function(exp){%>
            <a href="/intern/<%=exp.sitename%>">
                <div class="card">
                   
                    <div class="card-body">
                       
                        <div class="layer">
                            <h1> <%= exp.name %></h1>
                            <h4><%= exp.roll %></h4>
                        </div>
                    </div>
                </div>
            </a>
        <%})%>
    </div>
<%- include("footer") -%>