<%- include("header") -%>


<div class="boxx">
    <div class="intro">
        <h1><%= profile.name %></h1>
        <p><%= profile.about %></p>
        <hr style="height: 2px; color: #FBC403; width: 100%; margin: auto; border: none;">
        <br>
        <div style=" margin: auto;">
            <a href="" > Resources</a>
        </div>
        <br>
    </div>
    <div class="container">
        
        <%profile.companies.forEach(function(company){%>
            <a href="/company/<%=company.site%>">
                <div class="card" >
                    <div class="card-body" >
                        <div style="margin-top: 10%;" ><center>
                            <img src="/images/<%= company.image %>" style="height: 128px; margin-left: 0%;">
                            <h2 style="margin-top: 10%;"> <%= company.name %></h2>
                            </center>
                        </div>
                    </div>
                </div>
            </a>
            
            
    
        <%})%>
    </div>
        <hr style="height: 2px; color: #FBC403; width: 40%; margin: auto; border: none;">
</div>


<%- include("footer") -%>