<%- include("header") -%>


<div class="boxx">
    <div class="intro">
        <h1><%= profile.name %></h1>
        <p><%= profile.about %></p>
        <hr style="height: 2px; color: #FBC403; width: 100%; margin: auto; border: none;">
        <br>
        <div style=" margin: auto;">
            <a href="" > Resources</a>
        </div>
        <br>
    </div>
    <div class="container">
        <%profile.companies.forEach(function(company){%>
            <a href="/company/<%=company.site%>">
                <div class="card">
                    <img src="/images/<%= company.image %>" style="height: 128px;" >
                    <div class="card-body">
                        <div class="layer">
                            <h1 > <%= company.name %></h1>
                        </div>
                    </div>
                </div>
            </a>
        <%})%>
    </div>
        <hr style="height: 2px; color: #FBC403; width: 40%; margin: auto; border: none;">
</div>


<%- include("footer") -%>