<%- include("header") -%>


<div class="boxx">
    <div class="intro">
        <h1><%= profile.name %></h1>
        <p><%= profile.about %></p>
    </div>
    <div class="resource">
        <a href="<%= profile.link %>">Resources</a>
    </div>
</div>


<%- include("footer") -%>